checkbox {
  visibility: visible;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

header {
  position: relative;
  z-index: 10;
  background-color: #222629;
}

#hr {
  padding: 0;
  border: none;
  height: 6px;
  background: #31c5d9;
  transform: rotate(90deg);
  position: absolute;
  right: 20.8rem;
}

.concluir {
  padding: 1rem;
  border: solid 1px steelblue;
  cursor: pointer;
  border-radius: 5px;
}
.concluir:hover {
  background-color: rgb(40, 44, 47);
}

.modules {
  text-decoration: none !important;
  color: white;
  display: block;
  padding: 20px;
  font-size: 13px;
  z-index: 2;
}

#img_burgue {
  position: absolute;
  top: 24px;
  z-index: 7;
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

h2 {
  font-weight: bold;
  padding-block: 2rem;
}

.toggle {
  position: absolute;
  top: 24px;
  z-index: 10;
  display: block;
  width: 2rem;
  height: 2rem;
  margin-left: 0;
  border-radius: 50%;
}

#primeiro {
  position: absolute;
  top: 90px;
  z-index: 0;
  display: none;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  border-radius: 50%;
}

#segundo {
  position: absolute;
  top: 90px;
  z-index: 0;
  display: block;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  border-radius: 50%;
}

li:hover {
  background-color: #282c2f;
}

body {
  font-family: arial;
  display: flex;
  transition: 1s;
}

nav {
  background-color: #181c1f;
  color: white;
  width: 365px;
  height: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 100%;
}

li {
  width: 100%;
  display: flex;
  align-items: center;
}

.fileira {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

li span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 25px;
  background: rgba(0, 0, 0, 0.1);
  margin-right: 1.5rem;
}

li a {
  color: white;
}

span {
  font-size: 10px;
}

.img_link {
  width: 1.2rem;
  margin-left: 2.5rem;
}

.mudaNav {
  display: none;
}

label {
  z-index: 1;
  padding: 25px;
  position: absolute;
}

header.mudaNav .toggle {
  position: absolute;
  top: 24px;
  z-index: 1;
  display: block;
  width: 2rem;
  height: 2rem;
  margin-left: 3rem;
  border-radius: 50%;
}

.none {
  display: none;
  transition: 1s;
}

.block {
  display: block;
}

/*============>main===================*/

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.adjust {
  position: absolute;
}

div {
  width: 100%;
  background-color: #222629;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 14px;
  padding-bottom: 1rem;
  color: white;
  max-width: 300px;
  line-height: 125%;
  margin-left: 5rem;
}

progress {
  margin-block: 1rem;
}

.book {
  width: 1.5rem;
  height: 1.5rem;
  margin: 1rem;
}

.alinhar {
  margin-right: 175px;
  display: flex;
  align-items: center;
  padding-block: 1rem;
}

select {
  outline: 0;
  border: 0;
  width: 90%;
  height: 41, 4px;
  padding: 9px 40px 9px 18px;
  color: white;
  background-color: #282c2f;
  margin-left: 1.5em;
}

.atividades {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding-block: 2rem;
}
.ensaio {
  width: 2rem;
  padding-block: 2rem;
  padding: 1rem;
}

.logo {
  width: 2.5rem;
  margin: 20px 170px 5px 0;
}

.title_top {
  padding-block: 1rem;
}

.cabecal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #333;
  color: white;
  padding: 0.5rem;
}

section img {
  width: 1.5rem;
  height: 1.5rem;
}

video {
  outline: none;
  width: 100%;
}

.transcricao {
  display: flex;
  max-width: 900px;
  flex-direction: column;
  margin: 0 auto;
}

main.adjust .transcricao {
  max-width: 800px;
  transition: 1s;
  padding-bottom: 10rem;
}

.p {
  padding-block: 1rem;
  color: #3d464d;
  line-height: 31.5px;
  font-size: 18px;
}

/*======noturno==============*/

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 130px;
  height: 100px;
  border-radius: 5%;
  border: solid 1px steelblue;
  margin: 3rem;
}

.dash {
  display: flex;
  flex-direction: row;
  background: none;
  cursor: pointer;
  justify-content: center;
  position: relative;
  bottom: 37px;
  z-index: 10000;
}

.home {
  text-decoration: none;
  color: white;
  width: 100%;
  padding-block: 55px;
}

.dash:hover {
  background: #282c2f;
}

.dash > img {
  width: 1.5rem;
  margin: 0.5rem;
}

.box img {
  width: 2rem;
  padding-block: 0.5rem;
  margin-bottom: 0px;
}

.box p {
  margin-bottom: 15px;
}

.noturn {
  background: #1b1b1c;
  color: white;
}

.transcricao.noturn .p {
  color: #bcc1d1;
}

.title_top {
  font-size: 17px;
  margin-left: 3.5em;
}

.mostrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  margin-top: 1rem;
}

.texto_continuar {
  padding: 0.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin-top: -130px;
}

.set {
  width: 2rem;
}

.set:hover {
  transition: 500ms;
  transform: translateY(25%);
}

body.noturn .texto_continuar {
  color: white;
}

.hr {
  position: relative;
  width: 30%;
  right: 15rem;
  top: 15px;
}

.hr_two {
  position: relative;
  width: 30%;
  left: 15rem;
  top: -32px;
}

.hidden {
  visibility: hidden;
}

.baço {
  display: none;
}

.projetos {
  max-width: 500px;
  margin: 0 auto;
  padding: 6rem 0 2rem;
  line-height: 180%;
  font-size: 18px;
}

main.adjust .mostrar:after {
  content: "";
  font-family: Open Sans, sans-serif;
  color: #3d464d;
  width: 1000px;
  height: 200px;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.1), #ffff);
  position: relative;
  top: -16rem;
  transition: 1s;
}

main.adjust .hr {
  right: 14rem;
}

main.adjust .hr_two {
  left: 14rem;
}

.mostrar:after {
  content: "";
  font-family: Open Sans, sans-serif;
  color: #3d464d;
  width: 900px;
  height: 200px;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.1), #ffff);
  position: relative;
  top: -15.4rem;
}

.transcricao.noturn .mostrar:after {
  background: linear-gradient(180deg, hsla(0, 0%, 10%, 0.1), #1b1b1c);
}

#notu {
  position: relative;
}

.checkbox {
  visibility: hidden;
}

.style_aside {
  color: white;
  padding-bottom: 0.5rem;
  margin-top: -8px;
}

.borda {
  border: 1px outset #31c5d9;
}

.p_comand {
  margin-top: -479px;
}

.p_comand > p {
  padding-block: 0.3rem;
  text-align: center;
}

main.adjust .p_comand {
  margin-top: -600px;
}

.ignite {
  margin: 8rem;
  background-image: linear-gradient(
    rgb(179, 148, 211),
    steelblue,
    turquoise,
    rgb(158, 133, 133)
  );
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  font-size: 23px;
  font-size: 17px;
}

.hover:hover {
  background-color: #282c2f;
}

@media screen and (max-width: 600px) {
  .p_comand {
    margin-top: -655px;
  }

  .p_comand > p {
    padding: 0.1rem;
    margin-left: 1rem;
    text-align: center;
  }

  main.adjust .p_comand {
    margin-top: -655px;
  }

  h1 {
    text-align: center;
  }

  div img {
    width: 5rem;
  }

  .p {
    margin: 0 auto;
  }

  .texto_continuar {
    padding: 0;
  }

  main.adjust .transcricao {
    max-width: 320px;
    padding-bottom: 0rem;
  }

  main.disable .mostrar {
    display: none;
  }

  header {
    position: absolute;
    z-index: 100;
    width: 270px;
    display: block;
  }

  nav {
    width: 270px;
  }

  video {
    z-index: 1;
    width: 90%;
    margin: 1.2rem;
  }

  i {
    background-image: url(/assets/images/classPage/icon-arrow-down.svg);
    font-size: 17.4px;
  }
  #img_burgue {
    position: fixed;
    z-index: 7;
  }
  .logo {
    margin: 14px;
  }

  .title {
    margin-left: 4rem !important;
  }

  .alinhar {
    margin: 0;
  }

  .fileira {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
  }

  .modules {
    padding: 10px;
    margin: 10px 0 0 0;
    line-height: 133%;
  }

  .img_link {
    margin-left: 0.9rem;
  }

  li span {
    margin: 0 10px 1rem;
  }

  .projeto {
    max-width: 320px;
  }

  main.adjust .mostrar:after {
    content: "";
    font-family: Open Sans, sans-serif;
    color: #3d464d;
    width: 356px;
    height: 260px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.1), #ffff);
    position: relative;
    top: -20rem;
    transition: 1s;
  }

  main.adjust .hr {
    right: 7.5rem;
    width: 27%;
  }

  main.adjust .hr_two {
    left: 7.5rem;
    width: 27%;
  }

  .mostrar:after {
    content: "";
    font-family: Open Sans, sans-serif;
    color: #3d464d;
    width: 600px;
    height: 200px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.1), #ffff);
    position: relative;
    top: -16rem;
  }
  .transcricao.noturn .mostrar:after {
    background: linear-gradient(180deg, hsla(0, 0%, 10%, 0.1), #1b1b1c);
  }

  .modules {
    font-size: 12px;
  }

  .title_aprendemos {
    margin: 0;
  }

  .filter {
    filter: blur(1.9px);
    z-index: 30;
    color: black;
  }

  .disable {
    pointer-events: none;
  }

  #hr {
    left: -39px;
  }

  .style_aside {
    padding-bottom: 0.5rem;
    margin-top: -7px;
  }

  .ignite {
    margin: 6rem;
  }
}

.seta_top {
  width: 2rem;
  position: fixed;
  top: 535px;
  right: 90px;
  transform: rotate(180deg);
}

.a_seta {
  display: flex;
  flex-direction: column;
  width: 9rem;
  height: 1rem;
  position: fixed;
  top: 531px;
  right: 6px;
  color: black;
  padding: 26px;
  border-radius: 39px;
  background: silver;
  text-decoration: none;
  z-index: 2;
}
